In [2]:
import pandas as pd

dataset = pd.read_csv('SampleSubmission.xls')

dataset.head()

                              Square_ID  target_2019
0  4e3c3896-14ce-11ea-bce5-f49634744a41        0.109
1  4e3c3897-14ce-11ea-bce5-f49634744a41        0.504
2  4e3c3898-14ce-11ea-bce5-f49634744a41        0.021
3  4e3c3899-14ce-11ea-bce5-f49634744a41        0.827
4  4e3c389a-14ce-11ea-bce5-f49634744a41        0.786

In [3]:
dataset.shape

(16466, 2)