In [3]:
import pandas as pd

dataset = pd.read_csv('Rainfall_1901_2016_PAK.xls')

dataset.head()

   Rainfall - (MM)   Year     Month
0          40.4258   1901   January
1          12.3022   1901  February
2          25.5119   1901     March
3          14.2942   1901     April
4          38.3046   1901       May

In [4]:
dataset.shape

(1392, 3)